<div class="wp-site-blocks">
<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"has-global-padding","style":{"spacing":{"margin":{"top":"var(--wp--preset--spacing--60)"}}},"layout":{"type":"constrained"}} -->
    <!-- wp:post-title {"level":1} /-->

    <!-- wp:group {"style":{"spacing":{"margin":{"bottom":"var(--wp--preset--spacing--60)"}}},"className":"has-accent-4-color has-small-font-size","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left","verticalAlignment":"center"}} -->
        <!-- wp:paragraph -->Written by<!-- /wp:paragraph -->
        <!-- wp:post-author-name /-->
        <!-- wp:paragraph -->in<!-- /wp:paragraph -->
        <!-- wp:post-terms {"term":"category"} /-->
    <!-- /wp:group -->

    <!-- wp:post-content {"layout":{"type":"constrained"}} /-->

    <!-- Optional: navigation + related posts -->
    <!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"var(--wp--preset--spacing--60)","bottom":"var(--wp--preset--spacing--60)"}}},"layout":{"type":"constrained"}} -->
        <!-- wp:group {"align":"wide","style":{"border":{"top":{"color":"var(--wp--preset--color--accent-6)","width":"1px"}},"spacing":{"padding":{"top":"var(--wp--preset--spacing--40)","bottom":"var(--wp--preset--spacing--40)"}}},"layout":{"type":"flex","justifyContent":"space-between"}} -->
            <!-- wp:post-navigation-link {"type":"previous"} /-->
            <!-- wp:post-navigation-link {"type":"next"} /-->
        <!-- /wp:group -->
    <!-- /wp:group -->
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
</div>
